/* ============================================= */
/*             Gallery                           */
/* ============================================= */
.gallery{
margin: 1rem 10%;

    img{
    transition:0.2s;
    }
    img:hover{
        filter:grayscale(50%);
        transform:scale(1.1);
    }

    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(180px,1fr));
    grid-gap:10px 20px;
}
