/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    // font-family:;
    box-sizing: border-box;
  }
  
  p {
    line-height: 1.45em;
  }
  
  a {
    text-decoration:none;
  }

  li, ul{
    text-decoration:none;
  }